@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color: black;
}

.site-layout {
    display: flex;
    justify-content: center;
}

.main {
    width: 800px;
    flex: initial;
    article {
        margin: 20px;
        p {
            line-height: 1.5rem;
            margin-top: 10px;
            a {
                color: brown;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.side-bar {
    flex: 1;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
}

section {
    margin-left: 20px;
}


