.side-nav {
    margin: 1rem;
    margin-left: 3rem;
    ul {
        list-style: none;
        li {
            border: 1px solid brown;
            div.expand {
                padding: 1rem;
                display: flex;
                justify-content: space-between;
                &> * {
                    pointer-events: none;
                }
            }
            ul {
                display: none;
            }
        }
    }
}

.show {
    display: block !important;
}